*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  margin: 0;
  color: white;
  background-color: #EBF0EC;
}
a {
  color: white;
  text-decoration: none;
  transition: all 250ms ease-in-out;
  &:hover {
    text-decoration: underline;
    color: teal;
  }
}

.siteWrapper {
  display: flex;
  flex-wrap: wrap;
}

.hero {
  background-image: url("../img/backgroundImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // align-items: center;
  height: 800px;
  width: 100%;
}

.logoAndLinks {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  // flex-direction: column;
}

.links {
  width: 500px;
  // border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

.logo img {
  width: 75px;
  height: 75px;
  flex: 3;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  h4{
    font-size: 25px;
  }
  h1{
    font-size: 60px;
  }
}

.buttonHolder{
  display: flex;
  height: 65px;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  width: 115px;
  height: 60px;
  background-color: mistyrose;
  border-radius: 5px;
}
// bar
.bar {
  display: flex;
  height: 100px;
  background-color: grey;
  width: 100%;
  // border: 2px solid red;
  justify-content: space-around;
  align-items: center;

}
.barLinks {
 display: flex;
 font-size: 20px;
 padding-right: 3px;
 // border: 2px solid green;
  width: 60%;
 justify-content: space-between;
 }

// gallery
.galleryWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
// row 1
.row1, .holder {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.box1 {
  display:flex;
  background-image: url("../img/backgroundImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex: 2;
  align-items:flex-end;
  justify-content: center;
  flex-wrap: wrap;
  height: 300px;
}

.box2 {
  display:flex;
  background-image: url("../img/backgroundImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex: 1;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
}
.box3 {
 display:flex;
 background-image: url("../img/backgroundImage.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 flex: 1;
 align-items: flex-end;
  justify-content: center;
 flex-wrap: wrap;
}
  // row 2
  .row2 {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .rectangle1 {
   display:flex;
   background-image: url("../img/backgroundImage.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   flex: 1;
   justify-content: center;
   align-items:flex-end;
   flex-wrap: wrap;
   height: 300px;
  }

  .rectangle2 {
    display:flex;
    background-image: url("../img/backgroundImage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex: 1;
    justify-content: center;
    align-items:flex-end;
    flex-wrap: wrap;
    height: 300px;
  }
  .rectangle3 {
    display:flex;
    background-image: url("../img/backgroundImage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex: 2;
    justify-content: center;
    align-items:flex-end;
    flex-wrap: wrap;
    height: 300px;
}

.umbrella {
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 2px solid red;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  margin-top: 10%;
  background-color: rgba(129, 137, 148, .8)
}
.words{
  display: flex;
  // border: 2px solid purple;
  margin-right: 25%;
  padding: 20px;
  width: 100%;
  font-size: 25px;
 }
// icon scaling
 .umbrella {
  // border: 2px solid red;
  transition: transform 500ms ease-in-out;
  &:hover {
  transform: scale(1.5);
  }
}
.writtenContent{
  display: flex;
  flex-direction: row;
  width:100%;
  align-items: center;
  flex-wrap: wrap;
}
.write {
  display: flex;
  width: 50%;
  padding: 50px;
  flex-direction: column;

}
.writtenHeader {
   color: gray;
  flex:1;
}
.writtenBody{
  // border: 1px solid red;
  color: gray;
  flex: 1;
}
.writtenPic{
  display: flex;
  flex-direction: column;
  width: 50%;
}
@media (max-width: 950px){
  .holder {
    flex: 1 33%;
  }
}

@media (max-width: 650px){
 .row1 {
   display: flex;
   flex-direction: column;
   justify-content: center;
 }
 .row2 {
   display: flex;
   flex-direction: column;
   justify-content: center;
 }
 .writtenContent{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
 }
 .write {
   display: flex;
   flex-direction: column;
   flex: 2;
   width: 100%;
  //  flex-wrap: wrap;
 }
 .writtenPic{
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   width: 100%;
 }
}
